a {
    text-decoration: none;
}

input:focus{
    box-shadow: none !important;
}

.pagination {
    text-align: center !important;
}

.pagination li {
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 8px;
    background-color: aqua;
    margin-left: 6px;
    border-radius: 4px;
    min-width: 36px;
}

.pagination li a {
    text-decoration: none;
    font-weight: 600;
}

.pagination .active {
    background-color: rgb(55, 0, 255);
    color: white;
    font-weight: 600;
}

.slide{
    max-height: 40vh;
}

.btn:focus{
    box-shadow: none !important;
}

.product-card{
    border-radius: 25px;
    overflow: hidden;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;  
}

.product-img{
    border-radius: 25px;
}